<app-navbar></app-navbar>

<div class="container">
    <div class="row ">
        <table class="table  g-3 mt-20">
            <thead>
              <tr>
                
                <th scope="col">Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Salary</th>
                <th scope="col">Phone</th>
               
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
               
                <td>{{i.name}}</td>
                <td>{{i.desig}}</td>
                <td>{{i.salary}}</td>

                <td>{{i.phone}}</td>
              
                
              </tr>

              
             
            </tbody>
          </table>
    </div>
</div>
